torch==2.9.0
torch_geometric==2.7.0
pyyaml==6.0.3
huggingface_hub==0.35.3
openai==2.3.0
transformers=4.57.1
pandas=2.3.3
torchmetrics=1.8.2
pcst_fast=1.0.10
neo4j==6.0.2
dotenv==0.9.9
accelerate==1.11.0